@using VetShop.Models.Order
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Your Orders";
}

@if (!Model.Any())
{
    <h1>You have no orders yet.</h1>
}
else
{
    <h1>Your Orders</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderByDescending(x => x.OrderDate))
            {
                <tr>
                    <td>@order.OrderDate.ToString("MM/dd/yyyy")</td>
                    <td>@order.Status</td>
                    <td>@order.TotalPrice.ToString("C")</td>
                    <td>
                        <a href="@Url.Action("Details", "Order", new { id = order.Id })" class="btn btn-info btn-sm">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
