@using VetShop.Models.Brand
@{
    ViewData["Title"] = "Brand deleting";
}
@model BrandDeleteViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete brand</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Delete" enctype="multipart/form-data" method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <label asp-for="BrandName" class="col-form-label p-lg-2">Name of the brand:</label>
                    <input type="text" asp-for="BrandName" class="form-control border-0 shadow" disabled/>
                </div>

                <div class="form-floating py-2 col-12">
                    <label asp-for="ImageUrl" class="col-form-label p-lg-2">Image Url:</label>
                    <input type="text" asp-for="ImageUrl" class="form-control border-0 shadow" disabled/>
                </div>

                <button asp-controller="Brand" asp-action="Delete" class="btn btn-danger">Remove</button>
            </div>
        </form>
    </div>
</div>
